<div class="main-div">
    <mat-card>
        <mat-card-title>
            User settings
        </mat-card-title>
        <mat-card-content>
            <form *ngIf="form" class="settings-form" [formGroup]="form">
                <mat-form-field>
                    <p>Username:</p>
                    <input matInput formControlName="username">
                </mat-form-field>
                <mat-form-field>
                    <p>Firstname:</p>
                    <input matInput formControlName="firstname">
                </mat-form-field>
                <mat-form-field>
                    <p>Lastname:</p>
                    <input matInput formControlName="lastname">
                </mat-form-field>
                <button mat-raised-button [disabled]="!form.valid || !form.dirty" (click)="updateUser()">Save changes</button>
            </form>
            <button mat-button color="warn" (click)="onDelete()">Delete my account</button>
        </mat-card-content>
    </mat-card>
</div>
